#-*- coding: utf-8 -*-

"""
Copy of the Django settings file, but with database admin credentials (for
schema modifications)
"""

from settings import *
try:
    from settings_local import *
except ImportError:
    pass

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ hyperkitty_db_name }}',
        'USER': '{{ hyperkitty_admin_db_user }}',
        'PASSWORD': '{{ _hyperkitty_admin_db_pw }}',
        'HOST': '{{ _db_server_django }}',
        'PORT': '',
    }
}
